<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="consultoriosEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=den1.mssql2.gear.host;initial catalog=consultorios;user id=consultorios;password=etnosoft_2018;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>